/* Map styling*/
#ce_map_container {
    border: 2px solid #CCC;
    background-color: #CCC;
    font-size: 12px;
}

#ce_map_canvas {
    width: 100%;
    height: 300px
}

#ce-directionsPanel {
    background-color: #FFF
}

/* Direction */
#ce-map-cpanel-switch {
    padding: 8px;
    font-size: 120%;
    height: 40px;
    margin-top: 2px;
    background: #444 url("../images/map-icon.png") no-repeat 20px center
}

#ce-map-cpanel-switch a.ce-route,
#ce-map-cpanel-switch a.ce-route:visited {
    color: #FFF;
    display: block;
    float: left;
    margin: 10px 0 0 65px
}

.ce-map-cpanel fieldset {
    border-color: #CCC;
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    margin: 3px
}

.ce-map-cpanel fieldset legend {
    font-size: 150%
}

.ce-map-cpanel div {
    clear: left;
    display: block;
    width: 100%
}

.ce-map-cpanel label {}

.ce-map-cpanel div.submit div,
.ce-map-cpanel div.submit div button {
    display: inline
}

/* Coordinates*/
#ce-map-coordinates {
    background-color: #F2EFE9;
    height: 15px;
    margin-top: 2px;
    padding: 5px 0
}

#ce-map-coordinates div {
    float: left;
    width: 49%;
    text-align: center
}

.ce-map-coord-label {
    font-weight: bolder
}

.ce-map-coord-value {}

/* MAP: End*/

.info_contact {
    width: 100%;
}

.info_contact .title-info-contact h3 {
    font-family: 'Times news roman';
    font-size: 30px;
    line-height: 42px;
    color: #012258;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.info_contact .wrap_item {
    margin-bottom: 30px;
}

.info_contact .sub-info_contact {
    position: relative;
    margin-bottom: 20px;
}

.info_contact .sub-info_contact .name {
    font-size: 26px;
    line-height: 32px;
    color: #e20101;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
}

.info_contact .upper {
    text-transform: uppercase;
    font-weight: bold;
}

.info_contact .sub-info_contact .before {
    padding-left: 25px;
    position: relative;
    margin-bottom: 5px;
    color: #666666;
    font-size: 14px;
    line-height: 26px;
}

.info_contact .sub-info_contact .before a {
    color: #222222;
}

.info_contact .sub-info_contact .before:before {
    position: absolute;
    font-family: "fontawesome";
    top: 0;
    left: 0;
    color: #999999;
    font-size: 18px;
}

.info_contact .wrap_item .view_map a {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    padding: 7px 15px 7px 30px;
    color: #e20101;
    border: 1px solid #e20101;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.info_contact .wrap_item .view_map a:hover {
    color: #fff;
}

.info_contact .wrap_item .view_map a.hvr-bounce-to-top:before {
    background: #e20101;
}

.info_contact .wrap_item .view_map a.hvr-bounce-to-top:hover:before {
    background: #e20101;
}

.info_contact .wrap_item .view_map a:after {
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 21px;
    content: '\f041';
    color: #e20101;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.info_contact .wrap_item .view_map a:hover:after {
    color: #fff;
}

.info_contact .sub-info_contact .Qcode {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    width: 150px;
    height: 150px;
    border: 1px solid #d5d4d4;
}

.info_contact .sub-info_contact .Qcode img {}

.thanks-for {
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

/*--------------------------form-----------------------------------*/
#subject {
    background: url('../images/contact/icon_subject.png') no-repeat 7px 50% #f1f1f1;
}

#name,
#name-company {
    background: url('../images/contact/icon_fname.png') no-repeat 7px 50% #f1f1f1;
}

#email {
    background: url('../images/contact/icon_femail.png') no-repeat 7px 50% #f1f1f1;
}

#company,
#address,
#address-company {
    background: url('./images/contact/icon_faddress.png') no-repeat 7px 50% #f1f1f1;
}

#phone,
#phone-company {
    background: url('../images/contact/icon_fphone.png') no-repeat 7px 50% #f1f1f1;
}

#content {
    background: url('../images/contact/icon_fcontent.png') no-repeat 7px 10px #f1f1f1;
}

#security_code {
    background: #f1f1f1 url('../images/contact/total.png') no-repeat 7px 50%;
}

.c-button {
    margin-top: 25px;
    margin-bottom: 0 !important;
}

.c-button .rf_right {
    border-left: 0 !important;
    border-top: 0 !important;
}

.formContact {
    width: 100%;
    background: url('../images/contact/bg-contact.jpg') no-repeat 100% 0;
    background-size: 100%;
    margin-bottom: 30px;
}

#formContact {
    width: 545px;
    padding: 24px 15px 24px 15px;
    color: #333333;
}

.formContact .row-form {
    margin-bottom: 10px;
}

.formContact .row-form .rf_left {
    width: 100px;
    float: left;
}

.formContact .row-form .rf_right {
    padding-left: 100px;
}

.formContact .row-form label {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
}

.formContact .row-form .form-control {
    border: 0;
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 2px 10px;
    padding-left: 30px;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
}

.formContact .row-form textarea.form-control {
    height: 100px;
    resize: none;
    padding-top: 7px;
}

.formContact .row-form .input-group .form-control {
    height: 40px;
}

.formContact .row-form .input-group-img {
    width: 1%;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #878787;
}

.formContact .row-form .input-group-img img {
    max-width: none;
}

.row-form button.btn {
    width: 100%;
    height: auto;
    padding: 6px 16px;
    background: #ffffff;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #d6d6d6;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.row-form button.btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.row-form button.btn:active,
.row-form button.btn:hover {
    background-color: #878787;
    color: #fff;
}

.row-form button.btn span i {
    margin-right: 10px;
}

.row-form button.btn span {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    position: relative;
    z-index: 1;
}

.row-form button.btn span:before {
    position: absolute;
    font-family: "fontawesome";
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 18px;
}

/* .row-form .btn:active:focus,
.row-form .btn:focus{
    outline:thin dotted;
    outline:0px auto -webkit-focus-ring-color;
    outline-offset:-2px;
    color:#ffffff;
} */
.row-form button.btn.btnsubmit {
    background: #878787;
    width: 100%;
    color: #fff;
}

.row-form button.btn.btnsubmit:hover {
    color: #000;
    background: #fff;
}

.row-form button.btn span {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    position: relative;
    z-index: 1;
}

.row-form .btn:active:focus,
.row-form .btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #ffffff;
}

.map_wrapper {
    margin-bottom: 20px;
}

.map_wrapper .tab_title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 12px 45px 12px 20px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #012258;
    color: #ffffff;
    position: relative;
    display: none;
    cursor: pointer;
}

.map_wrapper .tab_title:after {
    position: absolute;
    width: 45px;
    text-align: center;
    font-family: FontAwesome;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 16px;
    line-height: 40px;
    content: '\f0d7';
    font-weight: normal;
}

.map_wrapper .map_title ul:after {
    content: '';
    display: block;
    clear: both;
}

.map_wrapper .map_title ul li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-right: 6px;
}

.map_wrapper .map_title ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 8px 20px;
    position: relative;
    background: #878787;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
}

.map_wrapper .map_title ul li:hover {
    z-index: 9999;
}

.map_wrapper .map_title ul li:hover a,
.map_wrapper .map_title ul li a.active {
    color: #FFFFFF;
    background-color: #e20101;
}

.map_wrapper .map_content {}

#staff {
    background: url('../images/contact/icon-select.png') no-repeat center right #fff;
    -webkit-appearance: initial;
    -moz-appearance: initial;
}

.ct-button {
    margin: 0 -7px;
}

.ct-button .button-left {
    float: left;
    padding: 0 7px;
    width: 50%;
}

.ct-button .button-right {
    float: right;
    padding: 0 7px;
    width: 50%;
}

.contact {
    margin-top: 25px;
}

/********************/
.hvr-bounce-to-top1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top1:hover,
.hvr-bounce-to-top1:focus,
.hvr-bounce-to-top1:active {
    color: #000;
}

.hvr-bounce-to-top1:hover:before,
.hvr-bounce-to-top1:focus:before,
.hvr-bounce-to-top1:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*****************/
.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e20101;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover,
.hvr-bounce-to-top1:focus,
.hvr-bounce-to-top1:active {
    color: #000;
}

.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top1:focus:before,
.hvr-bounce-to-top1:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/************************** Responsive **************************/

@media screen and (max-width: 1024px) {
    .info_contact .sub-info_contact .name {
        font-size: 24px;
        line-height: 30px;
    }

    .info_contact .wrap_item {
        width: 100%;
        float: none;
        padding: 0;
    }

    .info_contact .sub-info_contact .box-info {
        width: 100%;
    }

    .info_contact .Qcode {
        display: none;
    }

    .info_contact {
        margin: 0;
    }

    #formContact {
        width: 100%;
        padding: 0;
    }

    .formContact {
        width: 100%;
        background: none;
        padding: 0;
        color: #333333;
    }

    .formContact .row-form {
        margin-bottom: 0;
    }

    .formContact .row-form .rf_left {
        width: 100%;
        float: none;
        font-size: 17px;
    }

    .formContact .row-form .rf_right {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    .ct-button {
        padding-right: 20px;
        padding-left: 20px;
    }

    .thanks-for {
        margin-bottom: 0px;
    }

    .map_wrapper .map_title {
        position: relative;
    }

    .map_wrapper .tab_title {
        display: block;
        text-transform: uppercase;
    }

    .map_wrapper .map_title ul {
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        z-index: 98;
        background: #ffffff;
        border-top: 1px solid #ececec;
        display: none;
    }

    .map_wrapper .map_title.active ul {
        display: block;
    }

    .map_wrapper .map_title ul li {
        display: block;
        border-bottom: 1px solid #ececec;
    }

    .map_wrapper .map_title ul li a {
        padding: 10px 15px;
        background: #ffffff;
        border: 0;
        text-align: left;
        color: #333;
    }

    .map_wrapper .map_title ul li a.active {
        color: #333333;
        background-color: #ffffff;
    }

    .map_wrapper .map_title ul li:hover a.active {
        color: #FFFFFF;
        background-color: #012258;
    }
}

@media screen and (max-width: 480px) {
    .ct-button {
        padding-left: 0;
        padding-right: 0;
    }

    .info_contact .sub-info_contact .name {
        font-size: 20px;
    }
}

.formContact .row-form label.error {
    color: red;
}